<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>HI, <%= @user.email.split("@")[0] %></h1>
    <p>
      Deadline Tugas <%= @task.name %> Anda akan segera berakhir
    </p>

    <p>Thanks You and have a great day!</p>
  </body>
</html>